<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/flexbox-practice.css">
</head>
<body>
    <header>
        <nav>
            <a href="../flexbox-practice.html">accueil</a>
            <a href="about-us.html">a propos</a>
            <a href="contact.html">contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h1>Contact</h1>
        </section>
    </main>
</body>
</html>