* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
}

a {
    text-decoration: none;
    color: #333;
}

nav {
    background-color: green;
    height: 65px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: #fff;
}
