* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 30px 0;
}

.flexbox {
    width: 90%;
    margin: 50px auto;
}

.container {
    /* La propriete { display: flex; } donne un pouvoir sur les elements enfants directs  */
    display: flex;

    /* La propriete { flex-direction: ; } permet de choisir la direction de l'axe principale */
    /* Par default la valeur est sur row */
    /* flex-direction:  column | row  */

    /* La propriete { justify-content: ; } permet d'aligner dans le sens horizontal */
    justify-content: space-around; /* flex-start | center | flex-end | space-between | space-around */

    /* La propriete { justify-content: ; } permet d'aligner dans l'axe secondaire */
    align-items: center; /* flex-start | center | flex-end | stretch */

    /* gap permet de mettre de l'espace entre les enfants direct */
    gap: 10px;

    /* La propriete { flex-wrap: wrap; } fait retourner à la ligne les elements enfants s'ils n'ont plus de place */
    flex-wrap: wrap; /* nowrap */

    height: 400px;
    background-color: #4caf50;
}

.container p {
    width: 200px;
    height: 100px;
    text-align: center;
    background-color: #3498db;
}
