/* On import une Font Google (ici Roboto) */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

/* * signifie que cela s'applique à tous les selecteurs */
* {
    /* On réinitialise à 0 les valeurs par defaut des navigateurs pour {padding} et {margin} */
    margin: 0;
    padding: 0;
    /* { box-sizing: } Fixe la taille de nos element block en ajoutant les bordures et padding vers l'interieur*/
    box-sizing: border-box;
}

/* Permet d'avoir un scroll doux sur la page */
html {
    scroll-behavior: smooth;
}

/* Qq propriétés générales pour toute la page */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
}

/* Media Query */
/* Permet de faire du Responsive */
/* A l'interieur des accolades les propriété que l'on souhaite pour un écran jusqu'à 800px */
@media only screen and (max-width: 768px) {
}

/* Pour ecran de smartphone */
@media only screen and (max-width: 480px) {
}
