@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: #333;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #333;
}

h1 {
    font-family: 'Roboto Flex', sans-serif;
}

@media screen and (max-width: 768px) {
}
