.container {
    background-color: #2980b9;
    width: 200px;
    height: 200px;
}

.container2 {
    background-color: #f39c12;
    width: 200px;
    height: 200px;
}

.definition {
    margin: 50px 0;
    padding: 20px;
    background-color: #52be80;
}
