<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/absolute.css" />
        <title>CSS - Position absolute</title>
    </head>

    <body>
        <!-- {position: absolute;} -->
        <div class="container"></div>

        <div class="definition">
            <h1>{ position: absolute; }</h1>
            <p>
                Un élément avec position : absolute ; est positionné par rapport à l'ancêtre positionné le plus proche (au lieu d'être positionné par rapport à la fenêtre
                d'affichage, comme fixed).
            </p>
            <p>Cependant, si un élément en position absolue n'a pas d'ancêtres positionnés, il utilise le corps du document et se déplace avec le défilement de la page.</p>
            <p>Il sort du "flux". (il se retrouve comme sur un calque au dessus)</p>
            <div>
                <a href="../index.html">Accueil</a>
            </div>
            <div>
                <a href="static.html">Voir aussi { position: static; }</a>
            </div>
            <div>
                <a href="relative.html">Voir aussi { position: relative; }</a>
            </div>
            <div>
                <a href="absolute.html">Voir aussi { position: absolute; }</a>
            </div>
            <div>
                <a href="fixed.html">Voir aussi { position: fixed; }</a>
            </div>
            <div>
                <a href="exemple.html">Voir aussi un résumé pratique</a>
            </div>
        </div>
        <div class="definition2">
            <h2>
                Le cercle est sorti du flux, il est par dessus les autres éléments comme avec la { position: fixed; }
                <br />
                sauf que cette fois-ci quand on scroll il reste à la place où on l'a positionné!
            </h2>
        </div>
    </body>
</html>
