<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CSS - Position exemples</title>
        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/exemple.css" />
    </head>
    <body>
        <div class="definition">
            <h1>Exemples pratiques</h1>
            <div class="container">
                { position: absolute; }
                <p>
                    
                </p>
            </div>
            <div class="container-2">
                { position: relative; }
                <p>
                    
                </p>
            </div>
            <div class="container-3">
                { position: static; }
                <p>
                    
                </p>
            </div>
            <div class="container-4">
                { position: fixed; }
                <p>
                    
                </p>
            </div>
            <div>
                <a href="../index.html">Accueil</a>
            </div>
            <div>
                <a href="static.html">Voir aussi { position: static; }</a>
            </div>
            <div>
                <a href="relative.html">Voir aussi { position: relative; }</a>
            </div>
            <div>
                <a href="absolute.html">Voir aussi { position: absolute; }</a>
            </div>
            <div>
                <a href="fixed.html">Voir aussi { position: fixed; }</a>
            </div>
            <div>
                <a href="exemple.html">Voir aussi un résumé pratique</a>
            </div>
        </div>
    </body>
</html>
