<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="../css/style.css" />
        <link rel="stylesheet" href="../css/static.css" />
        <title>CSS - Position static</title>
    </head>

    <body>
        <!-- {position: static;} | c'est la valeur par defaut -->
        <div class="container"></div>
        <div class="container2"></div>

        <div class="definition">
            <h1>{ position: static; }</h1>
            <p>
                Les éléments HTML sont positionnés en static par défaut.
                <br />
                Ils se mettent les uns au dessus des autres ou côte à côte
                <br />
                Les éléments positionnés statiquement ne possèdent pas les propriétés top, bottom, left right et z-index.
                <br />
                Un élément avec { position : static; } n'est pas positionné de manière particulière ; il est toujours positionné selon le flux normal de la page :
            </p>
            <div>
                <a href="../index.html">Accueil</a>
            </div>
            <div>
                <a href="static.html">Voir aussi { position: static; }</a>
            </div>
            <div>
                <a href="relative.html">Voir aussi { position: relative; }</a>
            </div>
            <div>
                <a href="absolute.html">Voir aussi { position: absolute; }</a>
            </div>
            <div>
                <a href="fixed.html">Voir aussi { position: fixed; }</a>
            </div>
            <div>
                <a href="exemple.html">Voir aussi { position: fixed; }</a>
            </div>
        </div>
    </body>
</html>
